<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>红缀集团</title>
    <link type="text/css" rel="stylesheet" href="/styles/layout.css" />
</head>

<body>
    <div class="shopbox">
        <h3>商品已成功加入购物车！</h3>
        <div class="jrshop"><a href="#" class="jrshop1">去购物车结算</a><a href="#" class="jrshop2">继续购物</a></div>
        <p>当前购物车共计<span>1</span>件商品，商品总价：<span>¥109.00</span></p>
    </div>
</body>
</html>
