@using PagedList;
@using PagedList.Mvc;
@model StaticPagedList<GoodsModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsList</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
        .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
            width:252px;
            height:167px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="@item.GoodsPic" />
                        <div class="caption">
                            <h3>@item.GoodsName</h3>
                            <p>商品名称商品名称商品名称商品名称商品名称</p>
                            <p><a href="#" class="btn btn-primary" role="button">加入购物车</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="text-align:center;">
        @Html.PagedListPager(Model, m => Url.Action("GoodsList", new { PageIndex = m }));
    </div>
</body>
</html>
