<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>红缀集团</title>
    <link type="text/css" rel="stylesheet" href="/styles/layout.css" />
    <script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/scripts/connom.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=button]").click(function () {
                //前端非空验证

                $.ajax({
                    url: "@Url.Action("ResetPassword")",
                    type: "post",
                    dataType: "json",
                    data: { email: $("input[name=Email]").val()},
                    success: function (d) {

                    }
                })
            })
        })
    </script>
</head>
<body>
    <div class="logobox">
        <div class="logos"><a href="/"><img src="/images/logo.jpg" width="226" height="90" /></a></div>
    </div>
    <!--内容Begin-->
    <div id="container">
        <div class="loginbox">
            <div class="find_password">
                <div class="password_title"><h3>找回密码</h3><p><a href="@Url.Action("Login")">登录</a>　|　<a href="/" class="rutun">返回首页</a></p></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="paword_tab">
                    <tr>
                        <td width="330" height="62" align="right" valign="top">邮箱：</td>
                        <td valign="top"><input name="Email" type="text"  class="input_findpwd" /></td>
                    </tr>
                    <tr>
                        <td height="62" align="right" valign="top">验证码：</td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="110"><input name="" type="text" class="input_findpwd1" /></td>
                                    <td width="100"><img src="/images/bg35.gif" width="88" height="38" /></td>
                                    <td><a href="#" class="kbqc">看不清？<span>换一张</span></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" align="right" valign="top">&nbsp;</td>
                        <td valign="top"><input name="" type="button" value="提　交" class="input_findpwd2" /></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!--内容End-->
    <!--页尾Begin-->
    <div id="footer">
        <p>©2007-2014 Mbaobao All Rights Reserved. 红缀集团 版权所有，禁止非法复制 经营许可证编号：经营许可证编号：京B2-20100425</p>
    </div>
    <!--页尾End-->
</body>
</html>
