
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLogin</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script>
        $(function () {
            $("button").click(function () {
                if ($("#UserName").val().length <= 0) {

                    debugger;
                    alert("请输入用户名");
                    return
                }


                $.ajax({
                    url: "@Url.Action("Login")",
                    type: "post",
                    dataType: "json",
                    data: $("form").serialize(),
                    success: function (d) {

                    }
                })
            })
        })
    </script>
</head>
<body>
    <form>
        <table class="table">
            <tr>
                <td>用户名</td>
                <td><input type="text" name="UserName" id="UserName" /></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="Password" id="Password" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button">登录</button>
                    <button type="reset">重置</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
