@charset "utf-8";
*{margin:0px; padding:0px;}
body{font-size:12px; color:#999; font-family:"微软雅黑"}
ul,li{ list-style:none;}
img{border:0;}

a{text-decoration:none; color:#333;}/*连接默认的颜色变化*/
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal; margin:0;padding:0;}
.clear{clear:both;height:0;overflow:hidden;}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; } 


/***********页头Begin**********/
#header{margin:0 auto; padding:0;}
.loginbar{ height:27px;line-height:27px; border-bottom:1px solid #dedede; background:url(../images/bg01.gif) repeat-x; margin-bottom:18px;}
.loginbar_child{ width:1000px; height:27px; margin:0 auto; padding:0}
.fanhui{ width:500px; height:27px; float:left;}
.fanhui li{ float:left; display:inline-block;*display:inline; margin-right:10px;}
.fanhui li.rtn_home{background:url(../images/bg05.gif) right center no-repeat;padding:0 10px 0 0;}
.fanhui li.rtn_home a{ height:27px; display:block; background:url(../images/bg02.gif) 0 center no-repeat; padding-left:20px; }
.fanhui li a{ color:#999}
.schbox{ float:right; width:320px; }
.schbox li{display:inline-block;*display:inline; background:url(../images/bg05.gif) 0 center no-repeat; padding-left:10px;margin-left:10px; float:right; }
.schbox li.ddan{ background:none}
.schbox li.my_cart a{ display:block; height:27px; background:url(../images/bg03.gif) 0 center no-repeat; padding-left:25px;}
.schbox li a{ color:#999}
.logobox{ width:1000px; margin:0 auto; height:105px;}
.logos{ width:226px; height:90px; float:left}
.search_box{width:425px; padding-top:32px; float:right}
.search{ height:40px; overflow:hidden}
.text1{height:38px; line-height:38px; width:363px; padding:0 10px; border:1px solid #a40302; font-size:14px; color:#999; float:left}
.button1{ border:none; width:39px; height:40px; background:url(../images/bg04.gif) no-repeat; cursor:pointer; float:left}
.search_child{ height:27px; line-height:27px; color:#a40302}
.search_child a{ margin-right:6px; color:#c0bfbf}

#nav_box{ background:#404144}
.miannav{ width:1000px;margin:0 auto; padding:0;}
.nav{height:38px;line-height:38px;}
.nav dl{ width:100px;margin:0; padding:0; position:relative; float:left}
.nav dl dt a{  font-size:14px; color:#fff; display:inline-block;*display:inline; padding:0 20px; margin:0}
.nav dl dt a.activ{background:#a40302}
.nav dl dt a:hover{ background:#a40302; text-decoration:none}
.nav dl dd{ display:none}
.nav dl.quanbufle{ width:197px; }
.nav dl.quanbufle dt a{ width:170px;  color:#fff; padding:0 13px 0 14px; cursor:pointer}
.nav dl.quanbufle dd{ position:absolute; left:0; top:38px; z-index:8888}
.subnav{width:198px; float:left;}

.subnav_child{ border:1px solid #e8e8e8;border-top:none; height:364px; background:#FFF}
.subnav_child ul li{border-bottom:1px solid #e8e8e8; padding:5px 0 10px 14px;}
.subnav_child ul li h3{ font-size:14px; height:25px; line-height:25px;  width:170px;}
.subnav_child ul li h3 a{ display:block;color:#a40302;height:25px; width:170px; background:url(../images/bg06_a.gif) right center no-repeat;}
.subnav_child ul li p{ line-height:24px;}
.subnav_child ul li p a{ color:#666; margin-right:10px; display:inline-block}
.subnav_child ul li.last{ border-bottom:none} 

.nav dl.quanbufle dd .subnav_child{ border:1px solid #e8e8e8;border-top:none; height:364px; background:#FFF; width:195px}
.nav dl.quanbufle dd .subnav_child ul li{border-bottom:1px solid #e8e8e8; padding:5px 0 10px 14px;}
.nav dl.quanbufle dd .subnav_child ul li h3{ font-size:14px; height:25px; line-height:25px;  width:170px;}
.nav dl.quanbufle dd .subnav_child ul li h3 a{ display:block;color:#a40302;height:25px; width:170px; background:url(../images/bg06_a.gif) right center no-repeat;}
.nav dl.quanbufle dd .subnav_child ul li p{ line-height:24px;}
.nav dl.quanbufle dd .subnav_child ul li p a{ color:#666; margin-right:10px; display:inline-block}
.nav dl.quanbufle dd .subnav_child ul li.last{ border-bottom:none}



.bannerbox{width:1000px;margin:0 auto; padding:0; overflow:hidden;_zoom:1}

/************页头End**********/

/***********内容Begin**********/
/*.content{margin:20px auto; padding:0; width:1000px;
-moz-box-shadow: 0 0 6px #999;
 -webkit-box-shadow: 0 0 6px #999; 
 box-shadow: 0 0 6px #999;}*/
.content{margin:15px auto; padding:0; width:1012px;} 
.content_a{ height:6px; overflow:hidden; background:url(../images/bg30_a.gif) no-repeat} 
.content_b{background:url(../images/bg30_b.gif) center 0 repeat-y; padding:0 6px;}
.content_c{ height:6px; overflow:hidden; background:url(../images/bg30_c.gif) no-repeat} 

/*切换*/
.icn_box{ margin:0; padding:0;overflow:hidden;_zoom:1; }
.icn_box li{ width:330px; height:38px; line-height:32px; float:left; list-style:none; text-align:center;cursor:pointer; background:url(../images/bg07_a.gif) repeat-x; font-size:14px;}
.icn_box li a{ display:block; height:32px; width:330px; color:#666}
.icn_box li.current{ background:url(../images/bg07_b.gif) no-repeat; color:#FFFFFF; width:340px}
.icn_box li.current a{ color:#fff;}
.tab_nr_box{ height:265px; overflow:hidden;text-align:left;}
.tab_nr_box dl{ width:210px; height:265px; float:left; margin:0 20px;}
.tab_nr_box dt{ width:210px; height:210px;}
.tab_nr_box dt img{ width:210px;height:210px;}
.tab_nr_box dd { line-height:17px;}
.tab_nr_box dd h3{width:210px; height:17px; overflow:hidden}
.tab_nr_box dd h3 a{ color:#000}
.tab_nr_box dd p span{ color:#a40302}
 
 
.one_zs{ height:478px;} 
.one_zs_lt{ width:192px; float:left; margin-right:6px;}
.one_zs_lt h3{ height:35px; }
.one_zs_lt h3 span{ width:35px; height:35px;line-height:38px; display:block; float:left; font-family:Arial; font-size:24px; color:#fff; text-align:center; overflow:hidden }
.one_zs_lt h3 a{ width:150px; padding:0 0 0 7px; height:35px; line-height:33px; display:block; float:left;  font-size:22px; color:#fff; }
.one_zs_lt h3.biaoti1 span{ background:#bd454c}
.one_zs_lt h3.biaoti1 a{ background:#d4595e}
.one_zs_lt h3.biaoti2 span{ background:#2f5b7e}
.one_zs_lt h3.biaoti2 a{ background:#406c91}
.one_zs_lt h3.biaoti3 span{ background:#533632}
.one_zs_lt h3.biaoti3 a{ background:#674941}

.xiaotu{ border:1px solid #e8e8e8; border-top:none; border-bottom:none}
.xiaotu img{ width:190px; height:302px;}
.hot_list{ border:1px solid #e8e8e8;border-bottom:none;padding:5px 0px 0 10px; height:135px; overflow:hidden}
.hot_list a{ margin:0 6px 0px 0;line-height:24px; display:block;color:#666; width:80px; float:left}


.one_zs_rt{ width:802px; float:left;}
.baner{ width:802px; height:338px; margin-bottom:6px;} 
.baner img{width:802px; height:338px;}
.one_ggw{ height:134px; padding-left:1px} 
.one_ggw a{height:134px; width:266px; display:block;  margin-right:1px; float:left}
.one_ggw a img{height:134px; width:266px;}
 
 
.liebiao_list{ overflow:hidden;_zoom:1} 
.liebiao_list dl{ width:199px; height:259px; float:left}
.liebiao_list dl dt{ width:199px; height:199px;}
.liebiao_list dl dt img{width:199px; height:199px;}
.liebiao_list dl dd{ width:180px; margin:0 auto; text-align:center; line-height:25px;} 
.liebiao_list dl dd h3{width:180px; height:25px; overflow:hidden}
.liebiao_list dl dd h3 a{ color:#000}
.liebiao_list dl dd p span{ color:#a40302}
.liebiao_list dl.boder1{ border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8}
.liebiao_list dl.boder2{ border-bottom:1px solid #e8e8e8}
.liebiao_list dl.boder3{  border-right:1px solid #e8e8e8;} 

/************内容End**********/

/***********页尾Begin**********/
#footer{margin:0 auto; padding:0 0 20px 0; width:1000px; color:#c0c0c0}
#footer p{ line-height:30px; text-align:center}
.footer_msg{ overflow:hidden;_zoom:1; padding:20px 0; border-bottom:1px solid #c9c9c9; border-top:1px solid #c9c9c9}
.footer_msg dl{width:150px; padding-right:15px; float:left}
.footer_msg dt{ padding-bottom:20px;}
.footer_msg dt a{  font-weight:bold}
.footer_msg dd a{ color:#c0c0c0; display:block; height:20px; }

.footer_msg dl.dihuas dt{ padding:0; font-size:22px; line-height:30px; color:#5c5c5c}
.footer_msg dl.dihuas dd a{ width:134px; height:35px; text-align:center; line-height:35px; color:#fff; font-size:16px; background:url(../images/bg08.gif) no-repeat}
.footer_msg dl.dihuas dd a:hover{ text-decoration:none}

/************页尾End**********/

/************返回顶部**********/
.back_top{ width:66px; position:fixed; left:50%; margin-left:565px; top:300px; z-index:2000; }
.back_top ul li{ width:66px; height:66px;border-bottom:1px solid #fff;}
.back_top ul li a{ width:66px;height:66px;display:block; text-indent:-100em; overflow:hidden;}
.back_top ul li.fhtop{display:none }
.back_top ul li.fhtop a{background:url(../images/btn01.jpg) no-repeat; }
.back_top ul li.zxzx a{background:url(../images/btn01.jpg) 0 -67px no-repeat; }
.back_top ul li.shops a{background:url(../images/btn01.jpg) 0 -134px no-repeat; }
.back_top ul li.gzwm a{background:url(../images/btn01.jpg) 0 -201px no-repeat; border:none }

/*产品product*/
#container{ width:1000px; margin:0 auto; padding:0; }
.cplist{margin:15px 0;overflow:hidden;_zoom:1}
.cont_lt{ width:198px; float:left; margin-right:20px;}
.cont_rt{ width:782px; float:left;}
.leftnav{ border:1px solid #dfdfdf; border-top:2px solid #a80b09; margin-bottom:15px;}
.leftnav ul li{ border-bottom:1px solid #dfdfdf;}
.leftnav ul li.last{ border:none}
.leftnav ul li h3{ height:33px; line-height:32px; padding:0 10px 0 30px; font-size:14px; color:#404145; cursor:pointer; background:url(../images/bg09_a.gif) 10px center no-repeat;}
.leftnav ul li h3.cur{background:url(../images/bg09_b.gif) 10px 12px no-repeat;}
.leftnav ul li p{line-height:24px; background:url(../images/bg10.gif) repeat-x #f9f9f9; padding:4px 0 4px 14px; }
.leftnav ul li p.first{ display:block}
.leftnav ul li p a{ color:#9a9a9a; margin-right:14px; display:inline-block}
.leftnav ul li p a:hover{ color:#a50301}

.clabiti{ margin:1px; background:#efefef; height:38px; line-height:38px; font-size:18px; color:#000; padding:0 15px;}
.hot_rcmdtion{ border:1px solid #dfdfdf; margin-bottom:15px;}
.hot_rcmdtion h2{ margin:1px; background:#efefef; height:38px; line-height:38px; font-size:18px; color:#000; padding:0 15px;}
.hot_rcmdtion dl{ border-top:1px solid #dfdfdf; padding:10px;}
.hot_rcmdtion dl dt img{ width:174px; height:174px; border:1px solid #fff}
.hot_rcmdtion dl dt img:hover{ border:1px solid #a50301}
.hot_rcmdtion dl dd span{ font-family:Arial; color:#ef3311; font-size:14px; line-height:25px; font-weight:bold}
.hot_rcmdtion dl dd p{ line-height:18px;}
.guanggtu{ margin-bottom:15px;}

.rightnav{ border:1px solid #dfdfdf; border-top:2px solid #a80b09; margin-bottom:15px;}
.back_hm{ height:33px; line-height:32px; color:#333; padding:0 10px;border-bottom:1px solid #dfdfdf;}
.tiaojian dl{border-bottom:1px solid #dfdfdf; overflow:hidden;_zoom:1; color:#333;}
.tiaojian dl dt{width:82px;padding:10px; height:20px; line-height:20px; float:left; }
.tiaojian dl dd{ width:655px;border-left:1px solid #dfdfdf;float:left; padding:10px 10px 0 10px;}
.tiaojian dl dd a{ display:inline-block;*display:inline; height:20px; line-height:20px; padding:0 10px; margin:0 8px 10px 0}
.tiaojian dl dd a:hover{ color:#fff; background:#a50301; text-decoration:none}
.tiaojian dl dd a.activ{color:#fff; background:#a50301; text-decoration:none}
.tiaojian dl.last{ border:none}

.renqi_top{ height:40px; background:url(../images/bg11.gif) repeat-x; font-size:14px; margin-bottom:14px;}
.renqi_top_lt{ width:280px; height:38px; float:left;}
.renqi_top_lt a{ display:inline-block;*display:inline;border:1px solid #dfdfdf; padding:0 18px; height:36px; line-height:36px; border-right:none}
.renqi_top_lt a.last{border-right:1px solid #dfdfdf;}
.renqi_top_lt a:hover{ text-decoration:none}
.renqi_top_lt a.activ{border:1px solid #810402; background:#a50301; color:#fff;}
.renqi_top_rt{ width:450px; height:38px; line-height:38px;  float:right; text-align:right; padding-right:12px;border-right:1px solid #dfdfdf}
.renqi_top_rt span{ color:#a50301}

.product_list{ overflow:hidden;_zoom:1}
.product_list dl{ width:174px; height:230px; border:1px solid #f5f5f5; padding:4px; float:left; margin:0 15px 15px 0;}
.product_list dt img{width:174px; height:174px;}
.product_list dd{ line-height:20px;}
.product_list dd p.money{ font-family:Arial;color:#a50301}
.product_list dd p.money i{ font-size:20px; color:#a50301; font-style:normal}
.product_list dd p.money span{ font-size:12px; text-decoration:line-through; color:#999; margin-left:5px;}
.product_list dl:hover{border:1px solid #a50301;}

/********************************分页样式****************************************/
.page{text-align:right; width:100%; margin:0px auto; clear:both; padding-top:20px; padding-bottom:20px;}
.page *{margin:0px 0 0 5px;padding:5px 10px; color:#999; font-size:12px;}
.page a{color:#999;  background:#fafafa; border:1px solid #f2f2f2; }
.page a:hover{text-decoration:none}
.page span{background:#fafafa; border:1px solid #f2f2f2}
.page font{ border:1px solid #a50301; color:#fff; background:#a50301; }

.back_hm_xq{ height:40px; line-height:40px; color:#000; color:#999}
.back_hm_xq a{ color:#000}

.zhanshibox{ border:1px solid #dfdfdf; overflow:hidden;_zoon:1}
.zhanshibox_lt{ width:430px; height:505px;border-right:1px solid #dfdfdf;float:left;}
.bigbox img{ height:398px; width:430px;}

.smailbox{width:400px; height:70px; margin:20px auto 0 auto;}
.prves{ width:10px; height:19px; float:left; padding:26px 5px 0 0;}
.prves a{width:10px; height:19px; display:block; background:url(../images/bg12_a.gif) no-repeat; text-indent:-100em; overflow:hidden; cursor:pointer}
.tubox{ width:375px; height:70px; float:left;}
.tubox ul{ height:70px;}
.tubox ul li{ height:70px; width:75px; float:left;display:inline;}
.tubox ul li img{height:68px; width:68px; border:1px solid #efefef; cursor:pointer}
.nexts{ width:10px; height:19px; float:left; padding:26px 0 0 0;}
.nexts a{width:10px; height:19px; display:block; background:url(../images/bg12_b.gif) no-repeat; text-indent:-100em; overflow:hidden;cursor:pointer}

#spec-list{ width:375px; float:left; overflow:hidden;display:inline;position:relative;}
/*jqzoom*/
.jqzoom{position:relative;padding:0;width:430px; height:398px; position:relative;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e8e8e8;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list div{ margin-top:0;}

.zhanshibox_rt{ width:534px; float:left; padding:0 16px; }
.zhanshibox_rt h3{ line-height:26px; font-size:18px; height:60px; overflow:hidden; padding-top:10px;}
.zhanshibox_rt h3 a{ color:#000}

.jiages{ overflow:hidden;_zoom:1; line-height:25px;}
.jiages dt{ width:64px; float:left; margin-right:10px;}
.jiages dd{ float:left; width:460px;}
.jiages dd i{ font-family:Arial; font-style:normal; text-decoration:line-through}
.thjia dt{ line-height:40px;}
.thjia dd { color:#a50301; line-height:30px;}
.jiages a{ color:#999}

.thjia dd strong{ font-family:Arial; font-style:normal; font-size:30px;}
.jiages dd span{ color:#df4b18}
.colors{ line-height:34px; padding:15px 0; border-top:1px solid #efefef; margin-top:15px;}
.colors ul{ overflow:hidden;_zoom:1}
.colors ul li{ width:32px; height:32px; border:1px solid #e2e1e3; margin:0 5px 5px 0; position:relative; float:left}
.colors ul li:hover{ border:1px solid #c30007}
.colors ul li img{width:32px; height:32px;}
.colors ul li.activ{ border:1px solid #c30007}
.colors ul li.activ b{ display:block}
.colors ul li a{ display:inline-block;}
.colors ul li b{ width:12px; height:12px; display:block; position:absolute; right:0; bottom:0; background:url(../images/png01.png) no-repeat; display:none}
.ljgm { padding:20px 0; border-bottom:1px solid #efefef; margin-bottom:15px;}
.ljgm dd{ height:38px; line-height:38px; font-size:16px;}
.ljgm dd a{ display:block; height:38px; width:144px; float:left; text-align:center; margin-right:44px; text-indent:-100em; overflow:hidden}
.ljgm dd a.ljgm1{ background:url(../images/bg14.gif) no-repeat;}
.ljgm dd a.ljgm2{ background:url(../images/bg14.gif) -188px 0 no-repeat;}

.gmsl dd{ height:32px; width:64px; background:url(../images/bg13.gif) no-repeat}
#content1_2text{ width:42px; height:30px; margin:1px 4px 1px 1px; text-align:center; line-height:23px; float:left; border:none}
#content1_2but1{ margin-bottom:4px;}
#content1_2but1,#content1_2but2{ width:17px; height:14px; cursor:pointer; opacity:0; border:none; background:none}

.shopcp{ height:38px; font-size:14px; margin-bottom:10px; border:1px solid #e5e5e5}
.shopcp a{ display:inline-block;*display:inline;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5; padding:0 18px; height:38px; line-height:38px; border-right:none; margin-left:-1px}
.shopcp a:hover{ text-decoration:none;}
.shopcp a.activ{border:1px solid #810402; background:#a50301; color:#fff; position:relative; top:-1px;}

.canshu{ border:1px solid #dfdfdf; background:#f9f8f6;margin-bottom:25px;}
.bitis{ height:32px; padding:0 18px; line-height:32px; color:#333;border-bottom:1px solid #dfdfdf; }
.canshus{ overflow:hidden;_zoom:1; padding:10px 0 10px 18px; }
.canshus li{ width:240px; float:left; margin-right:10px; line-height:32px;}
.canshus li span{ color:#666;}
.tupianbox{ text-align:center}


/***************************************login*/
.loginbox{ width:970px; height:480px;-moz-box-shadow: 0 0 15px #CCC; -webkit-box-shadow: 0 0 15px #CCC; box-shadow: 0 0 15px #CCC; margin:15px 0}

.loginbox_lt{ width:580px; height:346px; float:left; }
.loginbox_lt h3{ padding:10px 0 0 15px; width:400px; border-bottom:1px solid #f2f2f2; margin:0 0 20px 20px; line-height:36px; font-size:18px; color:#5e5e5e}
.loginbox_lt table{ line-height:38px; float:14px;}
.loginbox_lt table span{ color:#72ba07; margin-left:10px; }
.loginbox_lt table p{ line-height:38px; float:12px; line-height:22px}
.input_login,.input_logina{ height:36px; line-height:36px; width:290px; padding:0 5px ; border:1px solid #ccc; font-size:14px; color:#a5a5a5}

.xieyi{ width:300px; height:40px; line-height:40px; color:#fff; border:none; background:#c30000; font-size:16px; cursor:pointer; font-family:"微软雅黑";}

.loginbox_rt{ width:340px; float:right; padding:47px 32px 0 0; text-align:center;}
.loginbox_rt h3{ height:40px; line-height:40px; font-size:20px; color:#9c9c9c}
.loginbox_rt a.denglus{ width:161px; height:47px; line-height:47px; font-size:20px; color:#fff; background:url(../images/bg17.gif) no-repeat; display:inline-block; margin-bottom:15px;}
.loginbox_rt a:hover{ text-decoration:none}


.login_lt{ width:525px; float:left;}
.login_rt{ width:385px;  float:right}
.login_rt h3{ height:40px; line-height:40px; font-size:18px; color:#9c9c9c; width:302px; margin-bottom:15px;}
.login_rt h3 span{ display:inline-block; float:left}
.login_rt h3 a{ display:inline-block; float:right; font-size:12px; color:#0066cc}
.login_rt table { color:#a5a5a5}
.login_rt table p{ height:20px;line-height:20px;}
.login_rt table p a{ display:inline-block; float:right; color:#a5a5a5;}
.login_rt table p span{display:inline-block; float:left; color:#ff0000;}

.dsfdl{ height:20px; line-height:20px;}
.dsfdl a{ display:block;text-indent:-100em; overflow:hidden; float:left}
.dsfdl a.dsfdla{ background:url(../images/pic30.jpg) no-repeat; width:73px;}
.dsfdl a.dsfdlb{ background:url(../images/pic31.jpg) no-repeat; width:38px; }
.dsfdl a.dsfdlc{ background:url(../images/pic32.jpg) no-repeat; width:73px;}
.dsfdl span{ display:block;float:left; margin:0 6px;}

.success{ text-align:center; padding:105px 0 0 0;}
.success p{ line-height:20px; }
.success p.success1{ line-height:30px; background:url(../images/bg18.gif) 0 1px no-repeat; font-size:20px; color:#a60004; padding-left:30px;width:500px; margin:0 auto}
.success a{height:47px; width:161px; line-height:47px; color:#fff; font-size:18px;display:inline-block; background:url(../images/bg17.gif) no-repeat; margin-top:35px; }
.success a:hover{ text-decoration:none}


/********帮助中心*********/
.helps{ border:none}
.bangzhu{ width:128px; height:38px; padding:0 30px 0 40px; line-height:38px; background:url(../images/bg19.gif) no-repeat; font-size:20px; color:#fff;}
.helps ul{border:1px solid #dfdfdf; border-top:none}
.helps ul li p{line-height:24px; background:url(../images/bg10.gif) repeat-x #f9f9f9; padding:4px 10px 4px 30px; display:none}
.helps ul li p.first{ display:block}
.helps ul li p a{ color:#9a9a9a; display:block}
.helps ul li p a:hover{ color:#a50301}
.helps ul li p a.activ{ color:#a50301}
.biaotis{ height:25px; border-bottom:2px solid #a50301; padding:11px 15px 0 15px; font-size:14px; color:#333; margin-bottom:10px;}

.zhuclc{ padding:0 15px 15px 18px; line-height:20px; color:#333; }
.zhuclc h4{font-weight:bold}
.zhuclc p{ padding-bottom:5px;}
.zhuclc p a{ color:#0b81b7}

/****************我的购物车*************/

.cart_bz{ height:62px; margin-bottom:15px;}
.gw_cartes td,.gw_cartes th{ border-right:1px solid #fff; color:#333;}
.gw_cartes td{ border-bottom:1px solid #f2f2f2; padding:10px 0}
.gw_cartes td a{ color:#005ea7}
.gw_cartes td dl{ width:322px; height:64px; padding-left:30px;}
.gw_cartes td dl dt{ height:61px; width:61px; border:1px solid #d8d8d8; padding:1px; float:left; margin-right:10px;}
.gw_cartes td dl dt:hover{border:1px solid #a50301;}
.gw_cartes td dl dt img{height:61px; width:61px;}
.gw_cartes td dl dd{width:246px; float:left; line-height:20px;}
.gw_cartes td dl dd a{ color:#333;}
.gw_cartes td span{ color:#a50301}


.shuliang{ width:61px; height:19px; margin:0 auto ;background:url(../images/bg20.gif) no-repeat}
.texta{ display:block; width:17px; height:19px; background:none; border:none; float:left; cursor:pointer; overflow:hidden}
.textb{ display:block; width:25px; height:19px; padding:0 1px; background:none; border:none; float:left; text-align:center}
.textc{ display:block; width:17px; height:19px; background:none; border:none; float:left; cursor:pointer}

.jiesuans{ height:40px; line-height:40px; padding:0 5px 0 10px; overflow:hidden}
.jiesuans_lt{ width:500px; float:left}
.jiesuans_lt a{ display:inline-block;color:#666;}
.jiesuans_lt a.laji{ background:url(../images/bg24.gif) 0 center no-repeat; padding-left:20px; margin-right:30px; }
.jiesuans_rt{ width:auto; float:right; display:inline-block}
.jiesuans_rt span{ margin-left:14px;}
.jiesuans_rt i{ font-style:normal; color:#a50301; font-weight:bold; margin-right:4px; font-family:Arial}
.jiesuans_rt b{ font-style:normal; font-size:24px; color:#a50301; margin-right:4px; font-family:Arial}

.qvjsuans{ height:36px; padding:0 5px 0 10px;}
.qvjsuans a{ width:106px; height:36px; display:block; float:left; background:url(../images/bg26.gif) no-repeat; text-indent:-100em; overflow:hidden}
.qvjsuans a.bians{ width:135px; float:right; background:url(../images/bg25.gif) no-repeat;}


.ddxxbox{ padding:0 0 10px 0; color:#333}
.ddxxbox font{ color:#a50301}
.ddxxbox h3{ height:32px; line-height:32px; border-bottom:1px solid #e7e7e7; font-weight:bold}
.shdzs dt{ height:42px; cursor:pointer }
.shdzs dt.gudin{ background:#f5f5f5}
.shdzs dt:hover{ background:#f5f5f5}
.shdzs dt b{ float:left; display:block; padding:15px 10px 0 17px;}
.shdzs dt p{height:42px; width:750px; line-height:42px; float:left; margin-right:10px;}
.shdzs dt a{height:42px;line-height:42px; float:left; margin-right:30px;}
.shdzs dt.xianshis a{ display:none}
.shdzs dt a.bianle{ color:#d72120}
.shdzs dd{ margin:0 0 0 37px; background:#f5f5f5; padding:15px 0 20px 0;display:none}
.shdzs dd table{ line-height:27px;}



.biaod{ width:172px; height:25px; line-height:25px; border:1px solid #cfcfcf; padding:0 5px;}
.biaod1{ width:368px;}
.biaod2{ width:37px;}
.biaod3{ width:110px;}
input.baocun{ width:135px; text-align:center; height:36px; line-height:36px; font-size:16px; color:#fff; text-align:center; background:url(../images/bg27.gif) no-repeat; margin-left:32px; display:block; border:none; cursor:pointer}
a.baocun:hover{ text-decoration:none}

.selects{ width:76px;height:25px; line-height:25px; border:1px solid #cfcfcf; margin-right:6px; text-align:center}

.psxxs{ padding:0 22px;}
.psxxs p{ color:#c8c8c8; line-height:28px;}
.peisong{}

.peisong{border-collapse:collapse;}
.peisong>tbody>tr>td{ border-collapse:collapse; border:1px solid #e4e4e4;}

.bank{ overflow:hidden;_zoom:1; padding:15px 0 0 22px;}

.bank .banks{ cursor:pointer; width:136px; height:41px; display:inline-block; overflow:hidden; border:1px solid #e3e3e3; vertical-align:middle;  margin:0 18px 10px 0;}
.bank .checked{ border:1px solid #ab1412;}

.fapiao{ background:#f2f2f2}
.biaodn{ width:134px; height:20px; line-height:20px; border:1px solid #cfcfcf; padding:0 5px;}

.liuyans{ height:80px; padding:0 10px; background:#f5f5f5; margin:20px 0; color:#333;}
.liuyans_lt{ float:left; width:300px;}
.liuyans_lt h4{ height:26px; line-height:26px;}
.liuyans_lt textarea{ width:290px; height:40px; border:1px solid #e2e2e2; padding:0 5px; line-height:18px; color:#666;}
.liuyans_rt{ float:right; width:420px;}
.liuyans_rt span{ color:#9e9e9e}
.jine{ font-size:18px;}
.jine i{ font-style:normal; font-family:Arial; color:#a50301; font-size:22px;}
.biaodns{ width:45px; height:20px; line-height:20px; border:1px solid #cfcfcf; padding:0 5px;}

.tijiao { height:36px;}
.tijiao input.baocun{ float:right}
.spxxs td dl{ width:440px;} 
.spxxs td dl dd{ width:360px;}

.fukuan{ overflow:hidden;_zoom:1; padding:16px 0 16px 100px; background:url(../images/bg29.gif) 647px center no-repeat}
.fukuan_lt{ width:367px; height:160px; background:url(../images/pic36.jpg) no-repeat; padding:0 0 0 180px; float:left; margin-right:62px; line-height:22px; color:#474747}
.fukuan_lt h3{ font-size:20px; color:#a50301; line-height:28px; padding-top:10px;}
.fukuan_lt font{color:#a50301;}
.fukuan_lt p.jiesaosd{ font-size:14px; padding-bottom:20px;}
.fukuan_rt{ width:200px; padding:50px 0 0 0; float:left}
.fukuan_rt a{ width:199px; height:47px; line-height:47px; text-align:center; color:#fff; font-size:16px; background:url(../images/bg28.gif) no-repeat; display:block}
.fukuan_rt a:hover{ text-decoration:none}


/**********我的订单**************/
.my_order_box{ padding:15px 0 50px 0; overflow:hidden;_zoom:1;clear:both}
.my_order_lt{ width:249px; border:1px solid #e6e6e6; border-right:none; float:left}
.my_order_rt{ width:717px; padding:0 15px 15px 15px ;border:1px solid #e6e6e6; float:left; min-height:500px;}
.gerens{ padding:0 15px 18px 15px;}
.gerens h3{ height:45px; line-height:45px; font-size:18px; color:#333;border-bottom:1px solid #e6e6e6;}
.gerens p{ line-height:34px; color:#b9b9b9}
.zhanhus{ height:25px;}
.zhanhus a{ display:block; height:23px; width:72px; line-height:23px; text-align:center; float:left; border:1px solid #bebebe;color:#b9b9b9; margin-right:10px;}
.zhanhus a.activ{ background:#a50301; border:1px solid #a50301; color:#fff;}
.zhanhus a:hover{ background:#a50301; border:1px solid #a50301; color:#fff; text-decoration:none}

.my_order_lt ul li{ padding:5px 25px; border-top:1px solid #e6e6e6; }
.my_order_lt ul li h4{ height:30px; line-height:30px; font-size:18px; color:#333;}
.my_order_lt ul li a{ display:block; line-height:24px;color:#b9b9b9}
.my_order_lt ul li p{ padding-left:25px;}

.dindans h2{ height:45px; line-height:45px; font-size:18px; color:#333;}

.chaxun_list{ height:22px; margin-bottom:15px; overflow:hidden}
.chaxun_list_lt{ float:left;height:22px; width:220px;}
.chaxun_list_rt{ float:right; height:22px; width:316px;}

.chaxun_list_lt select{ border:1px solid #a9a9a9; text-align:center; margin-right:8px; height:20px; line-height:20px;}

.search1{ width:240px; height:20px; line-height:20px; padding:0 5px; border:1px solid #ccc; color:#2d2c2c; margin-right:4px; float:left}
.search2{ width:60px; height:22px; line-height:21px; text-align:center;border:none; background:#444444;color:#fff; float:left; cursor:pointer}

.biaotints{ font-size:14px; color:#333; font-weight:bold; margin:0 1px 5px 1px;}
.dd_list dl{ margin-bottom:4px;}
.dd_list dl dt{ height:28px; line-height:28px; background:#efefef; color:#888888; padding:0 10px; margin:0 1px;}
.dd_list dl dt span{ margin-right:15px;}
.dd_list dl dd table td{background:#efefef; padding:10px 0; line-height:18px; color:#000;}
.dd_list dl dd table td span{ color:#a5a5a5}
.dd_list dl dd table td a{ display:inline-block; height:18px; padding:0 14px; color:#0066cc; margin:0 5px;}
.dd_list dl dd table td a.fukuans{ background:#cc0000; color:#fff;}
.dd_list dl dd table td p{ overflow:hidden;_zoom:1}
.dd_list dl dd table td p a{ display:block; float:left; padding:0; margin:0 10px 10px 0; height:56px; width:56px; border:1px solid #e0e0e0}
.dd_list dl dd table td p a:hover{border:1px solid #a50301;}
.dd_list dl dd table td p a img{height:56px; width:56px;}

.cpxqye td,.cpxqye th{ color:#333;border-bottom:1px solid #fff; border-right:none}
.cpxqye td{ border-right:1px solid #fff;  padding:10px 0}

.cpxqye td dl{ width:402px; height:64px; padding-left:10px;}
.gw_cartes td dl dt{ height:61px; width:61px; border:1px solid #d8d8d8; padding:1px; float:left; margin-right:10px;}
.ddxiangq { margin:10px 0 0 0;}
.ddxiangq h3{ height:36px; line-height:36px; padding:0 10px; background:#efefef; margin:0 0 1px 0; font-size:14px; color:#000}
.xiangqinr { background:#f8f8f8; padding:5px 10px; margin-bottom:1px}
.xiangqinr p{ line-height:24px; color:#666;}


.jifens{border-collapse:collapse; color:#333;}
.jifens>tbody>tr>td{ border-collapse:collapse; border:1px solid #fff;}
.jifens>tbody>tr>th{ border-collapse:collapse; border:1px solid #fff;}

.dindans h2.bianhuan{ height:45px; line-height:45px; font-size:18px; color:#333; border-bottom:1px solid #e7e7e7; margin-bottom:14px;}
.dindans h2.bianhuan span{ display:inline-block; float:left}
.dindans h2.bianhuan p{ display:inline-block; float:right; color:#a1a1a1; font-size:12px;}
.dindans font{ color:#a50301}

.tzdzs{ color:#333; line-height:27px;}
.but1{ width:112px; height:30px; line-height:30px; font-size:14px; border:none; text-align:center; color:#fff; margin-right:45px; cursor:pointer; background:#6b6b6b}
.but2{ background:#a50301}
.but1:hover{ background:#a50301}

.suydz{ color:#333;}
.suydz table th{ font-size:14px; border-bottom:5px solid #fff;}
.suydz table td{ border-right:1px solid #fff;border-bottom:5px solid #fff;}

.bianji{ overflow:hidden;_zoom:1}
.bianji a{ display:inline-block; margin:0 20px}
.bianji a.bians{ color:#a50301}

.biaodn{ width:172px; height:20px; line-height:20px; border:1px solid #cfcfcf; padding:0 5px;}
.biaodn1{ width:368px;}
.biaodn2{ width:60px;}
.biaodn3{ width:90px;}
.selectsn{ width:130px;height:20px; line-height:20px; border:1px solid #cfcfcf; margin-right:6px; text-align:center}
.selectsn1{ width:110px;}
.zhanghu{ line-height:22px; color:#333;}



/**********************购物车*/
.shopbox{ width:450px; background:#FFF}
.shopbox h3{ height:40px; background:url(../images/bg31.gif) 50px 0 no-repeat; padding-left:100px; font-size:18px; line-height:40px; color:#454545;}
.jrshop{ height:29px; line-height:29px; padding:15px 0 30px 80px; margin:0 20px; border-bottom:1px solid #e6e6e6}
.jrshop a{ display:block; float:left ; margin-right:10px;}
.jrshop a.jrshop1{ width:112px; background:url(../images/bg33.gif) no-repeat; text-indent:-100em; overflow:hidden}
.jrshop a.jrshop2{ width:68px; height:28px; border:1px solid #ddd; color:#5e5e5e; text-align:center}
.jrshop a:hover{ text-decoration:none}
.shopbox p{ height:45px; line-height:45px; padding:0 25px; color:#333333}
.shopbox p span{ color:#cc0000}

.agreement{ width:880px ;height:370px; overflow:auto; line-height:22px; color:#333; padding:15px 0; margin:0 15px;border-top:1px solid #999}
.agreement h5{ font-weight:bold}
.tonyizc{ width:322px; height:34px; margin:15px auto; text-align:center; }
.tonyizc a{ display:block; width:322px; height:34px; background:url(../images/bg34.gif) no-repeat; color:#fff; font-size:14px; font-weight:bold; line-height:34px;}


/*找回密码*/

.find_password{ padding:0 22px;}
.password_title{ height:47px; border-bottom:1px solid #d9d9d9; margin-bottom:45px;}
.password_title h3{ height:47px; line-height:47px; font-size:18px; color:#5e5e5e; width:160px; float:left}
.password_title p{ width:110px; float:right; text-align:right; height:30px; line-height:30px; padding-top:17px; color:#bbbbbb}
.password_title p a{ color:#bbbbbb}
.password_title p a.rutun{ color:#c30000}
.paword_tab{ line-height:38px; font-size:14px; color:#a5a5a5}
.input_findpwd{ width:252px; line-height:36px; height:36px; border:1px solid #ccc; padding:0 5px;}
.input_findpwd1{ width:88px; line-height:36px; height:36px; border:1px solid #ccc; padding:0 5px;}
.paword_tab a.kbqc{ font-size:12px; color:#666}
.paword_tab a.kbqc span{ color:#005ea7}
.input_findpwd2{ height:38px; width:264px; background:#c30000; background:#c30000; border:none; color:#fff; font-size:16px; font-family:"微软雅黑"; cursor:pointer}






.shopbox h4{ height:25px; background:url(../images/bg36.gif) 150px 0 no-repeat; padding-left:180px; font-size:18px; line-height:25px; color:#454545;}

.shoppcat h3{ font-size:18px; color:#454545; padding-bottom:10px;}
.shoppcat dl{ height:70px; padding:50px 0 50px 310px; background:#ededed}
.shoppcat dl dt{ height:70px; width:70px; float:left; margin-right:18px;}
.shoppcat dl dd{ height:70px; width:400px; float:left; line-height:70px; font-size:14px; color:#333}
.shoppcat dl dd a{ color:#a50301; margin:0 5px;}



