
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsCookies</title>
    <script type="text/javascript">
        document.cookie = "username=ligongchen; expires=Thu, 18 Dec 2043 12:00:00 GMT";
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
